// @import '~@react-md/theme/dist/color-palette';

// $rmd-theme-primary: $rmd-grey-600;
// $rmd-theme-secondary: $rmd-blue-grey-600;
// $rmd-theme-light: false;

// $rmd-theme-dark-elevation: 'prefers-color-scheme';
// $rmd-utils-auto-dense: false;

@use '~@react-md/theme/dist/color-palette' as *;
@forward "react-md" with (
    $rmd-theme-primary: $rmd-grey-800,
    $rmd-theme-secondary: $rmd-blue-grey-800,
    $rmd-utils-auto-dense: true
);